flows(1).json
[
    {
        "id": "40ef75852f3b6075",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a53bd6912db421f",
        "type": "comment",
        "z": "40ef75852f3b6075",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "ced6c5987df17d47",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "053f8657dc6b01ca",
        "type": "mqtt in",
        "z": "40ef75852f3b6075",
        "name": "",
        "topic": "Student/by-room/E208/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "05733493d5b43064",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "75541f98b98da823",
                "5b316bdf57500d19"
            ]
        ]
    },
    {
        "id": "3f2cd48156aac49b",
        "type": "mqtt in",
        "z": "40ef75852f3b6075",
        "name": "",
        "topic": "Student/by-room/E101/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "05733493d5b43064",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 980,
        "wires": [
            [
                "c55ddb224174daf5",
                "accdd0e4aa5630ca"
            ]
        ]
    },
    {
        "id": "7985d242aa6cdd46",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "a07104df3e97b377",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature E208",
        "label": "째C",
        "format": "{{value}}",
        "min": "-5",
        "max": "50",
        "colors": [
            "#68eae3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "76b19ecb3f10d0dc",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "a07104df3e97b377",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature E101",
        "label": "째C",
        "format": "{{value}}",
        "min": "-5",
        "max": "50",
        "colors": [
            "#adeefa",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 920,
        "wires": []
    },
    {
        "id": "c55ddb224174daf5",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "76b19ecb3f10d0dc",
                "0ebe38b399f70a5b",
                "889c4341e45c390d"
            ]
        ]
    },
    {
        "id": "5b316bdf57500d19",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].co2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "89c5c59155d314b3",
                "ced6c5987df17d47",
                "f8751d86b4072a17"
            ]
        ]
    },
    {
        "id": "69eebcf6ec22f1f2",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1520,
        "wires": []
    },
    {
        "id": "4383e1500480e68e",
        "type": "mqtt in",
        "z": "40ef75852f3b6075",
        "name": "",
        "topic": "Student/by-room/B217/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0916f018a2d60e3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1540,
        "wires": [
            [
                "af32404f410e56a3",
                "1151e8def86a6c56"
            ]
        ]
    },
    {
        "id": "853109a98e0fdf94",
        "type": "mqtt in",
        "z": "40ef75852f3b6075",
        "name": "",
        "topic": "Student/by-room/B112/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0916f018a2d60e3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2160,
        "wires": [
            [
                "45c6c1466d9cd16b",
                "a54728eee291c12f"
            ]
        ]
    },
    {
        "id": "5e309ad7dd6c35db",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "f6d398ded441a992",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature B217",
        "label": "째C",
        "format": "{{value}}",
        "min": "-5",
        "max": "50",
        "colors": [
            "#68eae3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9c7c8e6b6b768b3f",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "f6d398ded441a992",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature B112",
        "label": "째C",
        "format": "{{value}}",
        "min": "-5",
        "max": "50",
        "colors": [
            "#adeefa",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 2040,
        "wires": []
    },
    {
        "id": "45c6c1466d9cd16b",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 2020,
        "wires": [
            [
                "9c7c8e6b6b768b3f",
                "b8ac49ead9d0982e",
                "c2c70798362f3073"
            ]
        ]
    },
    {
        "id": "af32404f410e56a3",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1500,
        "wires": [
            [
                "5e309ad7dd6c35db",
                "69eebcf6ec22f1f2",
                "07d35a75a705ee1a"
            ]
        ]
    },
    {
        "id": "accdd0e4aa5630ca",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].co2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1040,
        "wires": [
            [
                "9b7e1d53508b25d8",
                "2968d9e1579a9d30",
                "b988ec02ddc351bc"
            ]
        ]
    },
    {
        "id": "75541f98b98da823",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 440,
        "wires": [
            [
                "1504cbee5adc3ffd",
                "7985d242aa6cdd46",
                "60abc1b1d2669f56"
            ]
        ]
    },
    {
        "id": "9b7e1d53508b25d8",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "391d336e5fbb51b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 E101",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#adeefa",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 1080,
        "wires": []
    },
    {
        "id": "89c5c59155d314b3",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "391d336e5fbb51b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 E208",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#adeefa",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "2968d9e1579a9d30",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1504cbee5adc3ffd",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "0ebe38b399f70a5b",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 840,
        "wires": []
    },
    {
        "id": "a54728eee291c12f",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].co2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 2120,
        "wires": [
            [
                "e71e1b1c1ec5de5f",
                "c737c344eb54465f",
                "1e6c9f24c3b98eb5"
            ]
        ]
    },
    {
        "id": "e71e1b1c1ec5de5f",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "01fd94b527d61ee6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 B112",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#adeefa",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 2200,
        "wires": []
    },
    {
        "id": "c737c344eb54465f",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 2120,
        "wires": []
    },
    {
        "id": "b8ac49ead9d0982e",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1960,
        "wires": []
    },
    {
        "id": "1151e8def86a6c56",
        "type": "change",
        "z": "40ef75852f3b6075",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].co2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1600,
        "wires": [
            [
                "c0b1f7791adbdb71",
                "91720cfe1d5cccfb",
                "ffd179ef8347aea1"
            ]
        ]
    },
    {
        "id": "c0b1f7791adbdb71",
        "type": "ui_gauge",
        "z": "40ef75852f3b6075",
        "name": "",
        "group": "01fd94b527d61ee6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 B217",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#adeefa",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1000",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 1660,
        "wires": []
    },
    {
        "id": "91720cfe1d5cccfb",
        "type": "debug",
        "z": "40ef75852f3b6075",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1600,
        "wires": []
    },
    {
        "id": "1e6c9f24c3b98eb5",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "co2,building=GIM,room=B112",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 2260,
        "wires": []
    },
    {
        "id": "60abc1b1d2669f56",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "temperature,building=RT,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "f8751d86b4072a17",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "co2,building=RT,room=E208",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "c2c70798362f3073",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "temperature,building=GIM,room=B112",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 770,
        "y": 1880,
        "wires": []
    },
    {
        "id": "ffd179ef8347aea1",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "co2,building=GIM,room=B217",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1760,
        "wires": []
    },
    {
        "id": "07d35a75a705ee1a",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "temperature,building=GIM,room=B217",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 695,
        "y": 1320,
        "wires": [],
        "l": false
    },
    {
        "id": "b988ec02ddc351bc",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "co2,building=RT,room=E101",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 840,
        "y": 1200,
        "wires": []
    },
    {
        "id": "889c4341e45c390d",
        "type": "influxdb out",
        "z": "40ef75852f3b6075",
        "influxdb": "3f6d7d347057f613",
        "name": "",
        "measurement": "temperature,building=RT,room=E101",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "d61b700c2848fcb3",
        "type": "ui_spacer",
        "z": "40ef75852f3b6075",
        "name": "spacer",
        "group": "1f7e0754405d3242",
        "order": 1,
        "width": "1",
        "height": "1"
    },
    {
        "id": "af0b26824af5241c",
        "type": "ui_spacer",
        "z": "40ef75852f3b6075",
        "name": "spacer",
        "group": "1f7e0754405d3242",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "05733493d5b43064",
        "type": "mqtt-broker",
        "name": "mosquittoRT",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a07104df3e97b377",
        "type": "ui_group",
        "name": "Temperature sensors",
        "tab": "ad50d3ac4df32eb8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0916f018a2d60e3a",
        "type": "mqtt-broker",
        "name": "MosquittoGIM",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f6d398ded441a992",
        "type": "ui_group",
        "name": "Temperature sensors",
        "tab": "7b6cf3fca9452794",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "391d336e5fbb51b6",
        "type": "ui_group",
        "name": "CO2 sensors",
        "tab": "ad50d3ac4df32eb8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01fd94b527d61ee6",
        "type": "ui_group",
        "name": "CO2 sensors",
        "tab": "7b6cf3fca9452794",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f6d7d347057f613",
        "type": "influxdb",
        "hostname": "172.20.10.3",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "Jack",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "ad50d3ac4df32eb8",
        "type": "ui_tab",
        "name": "Building RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b6cf3fca9452794",
        "type": "ui_tab",
        "name": "Building GIM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]